main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
}
.element_one {
    display: flex;
    flex-direction: row; /* Título à direita da imagem */
    align-items: flex-start; /* Alinha o topo dos itens */
    margin: 20px;
}
.intro_image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
img {
    width: 625px;
    border-radius: 5px;
}
.title h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-left: 20px;
}
.title p {
    font-size: 1.0rem;
    margin-top: 10px;
    margin-left: 20px;
    width: 400px;
}
/* Botões embaixo da imagem */
.action-buttons {
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.action-buttons button {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background-color: #d4dbff; 
    color: #284cff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.action-buttons button:hover {
    opacity: 0.8;
    color: white;
    background-color: #284cff;
}