* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d5ceff;
    color: #1A1A1A;
    display: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}